/*GLOBAL*/
body {
    background-color: #ECF9FF
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #F8CBA6;
    height: 50px
}

main {
    margin-top: 75px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/*NAVIGATION*/
nav {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

nav > a {
    text-decoration: none;
    color: #FFFBEB;
    padding: 30px 15px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

nav > a:hover {
    color: #ECF9FF;
    text-shadow: #ECF9FF 1px 1px;
}


/*INFORMATION*/
.about_us {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about_us img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about_us_description {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_us_description * {
    padding: 5px;
}


/*GAME 1*/
.my_game {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 25px auto 0;
    justify-content: center;
    align-items: center;
}

.my_game * {
    text-align: center;
    margin: 5px;
}

.my_game input, .my_game button {
    border: none;
    min-height: 30px;
}

.my_game button {
    width: max-content;
    background-color: #FFE7CC;
    padding: 0 10px;
    border-radius: 5px;
}

.my_game input {
    background-color: lightgray;
    outline: none;
    border-radius: 5px;
}


/*GAME 2*/
.choose_block * {
    padding: 5px;
}

.choose_block {
    margin: 25px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose_block_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 750px;
    justify-content: center;
    align-items: center;
}

.choose_block_container > div {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE7CC;
    border-radius: 10px;
}

.chosen_element {
    border: 3px solid black;
}


/*FAKE POSTS*/
.post_block {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
     align-items: center;
}

.post_block * {
    max-width: 660px;
}

.post_block h2 {
    text-align: center;
}

.post_block_container > * {
    margin:  10px;
    padding:  10px;
    background-color: #FFE7CC;
    border-radius: 10px;
}

.show_posts_btn {
    width: max-content;
    background-color: #FFE7CC;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    min-height: 30px;
    margin: 10px 5px 5px;
}

.clicked_show_button {
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    height: 0;
}


/*FOOTER*/
footer {
    margin-top: 25px;
    width: 100%;
    background-color: #F8CBA6;
    height: 25px;
    color: #FFFBEB;
    text-align:center;
}